{%  extends "BookingBundle::layout.html.twig" %}

{%  block title %}
{%  endblock %}

{%  block body %}
    <h3>Commande de billets</h3>
    <div class="ticketing">
        {{ form(form) }}
    </div>
{%  endblock %}